@tailwind base;
@tailwind components;
@tailwind utilities;

@import './pages/styles/LandingPage.scss';
@import './pages/styles/MainPage.scss';

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "Encapsul";
  src: url('../public/assets/fonts/encapsul.ttf');
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('../public/assets/fonts/lexendZetta.ttf');
}

.App{
  background: rgb(22,22,37);
  background: linear-gradient(180deg, rgba(22,22,37,1) 0%, rgba(31,37,68,1) 100%);
  width: 100vw;
  height: 100vh;
  color: #FFFDEF;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  .copy{
    font-family: Lexend Zetta;
    justify-self: flex-end;
    font-size: 0.625rem;
    color: #FFFDEF;
    .copy-icon{
      font-size: 1rem;
    }
  }
}