.main-page {
	width: 100%;
	// height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	.content {
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
		align-items: center;
		.logo {
			text-align: center;
			h1 {
				width: 105%;
				font-family: Encapsul;
				font-size: 4rem;
				background: rgb(255, 253, 239);
				background: linear-gradient(
					90deg,
					rgba(255, 253, 239, 1) 0%,
					rgba(103, 155, 255, 1) 65%,
					rgba(255, 136, 193, 1) 95%
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		.search-bar {
			padding: 0.3rem 1rem;
			color: rgb(22, 22, 37);
			border-radius: 8px;
			background: linear-gradient(
				90deg,
				rgba(255, 253, 239, 0.3) 0%,
				rgba(103, 155, 255, 0.3) 65%,
				rgba(255, 136, 193, 0.3) 95%
			);
			border: 1px solid transparent;
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
				rgba(0, 0, 0, 0.23) 0px 6px 6px;
			transition: all 0.3s;

			&:focus {
				border-color: #679bff;
				outline: none;
			}
		}

		.sounds {
			display: grid;
			grid-template-columns: repeat(8, minmax(100px, 1fr));
			grid-auto-rows: minmax(50px, auto);
			gap: 1rem;
			background: linear-gradient(to bottom, #000000 20%, #3e5d99 0%);
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.3) 0%,
				#3e5c9900 100%
			);
			padding: 2rem;
			border-radius: 1rem;
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
				rgba(0, 0, 0, 0.23) 0px 6px 6px;

			.sound-button {
				width: 100%;
				height: 100%;
				min-width: 5rem;
				min-height: 6rem;
				padding: 0.5rem;
				font-family: Lexend Zetta;
				background-color: rgba(103, 156, 255, 0.15);
				border-radius: 0.8rem;
				color: #679bff;
				transition: 0.3s;
				font-size: 0.5rem;
				box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
					rgba(0, 0, 0, 0.23) 0px 6px 6px;
				border: none;
				&:hover {
					background-color: rgba(103, 156, 255, 0.4);
				}
				&:focus {
					border: 1px solid rgba(103, 156, 255, 0.15);
					background-color: rgba(0, 0, 0, 0.1);
				}
				display: grid;
				place-items: center;
			}
		}
		.reset-button {
			font-family: Lexend Zetta;
			background-color: rgba(103, 156, 255, 0.15);
			border: 1px solid #679bff;
			border-radius: 8px;
			color: #679bff;
			padding: 0.2rem 1rem;
			transition: 0.3s;
			&:hover {
				background-color: rgba(103, 156, 255, 0.4);
			}
		}
		.embedded-keyboard {
			display: grid;
			grid-template-columns: repeat(8, minmax(100px, 1fr));
			grid-auto-rows: minmax(50px, auto);
			gap: 1rem;
			padding: 0 2rem 2rem;
			border-radius: 1rem;
			.embedded-key {
				height: 10rem;
				width: 5rem;
				padding: 0.5rem;
				font-family: Lexend Zetta;
				background-color: rgba(103, 156, 255, 0.15);
				border-radius: 0.8rem;
				color: #679bff;
				transition: 0.3s;
				font-size: 0.5rem;
				box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
					rgba(0, 0, 0, 0.23) 0px 6px 6px;

				border: 1px solid #679bff;
				display: grid;
				place-items: center;
				div {
					width: 2rem;
					height: 0.7rem;
					border-radius: 1rem;
				}
			}
			.embedded-key.assigned {
				div {
					background-color: rgba(103, 156, 255, 0.15);
					transition: background-color 0.3s, transform 0.5s;
					animation: glow 2s infinite alternate;
					box-shadow: 0 0 20px rgba(103, 156, 255, 0.4);
				}
			}

			@keyframes glow {
				0% {
					background-color: rgba(103, 156, 255, 0.15);
					transform: scale(1);
				}
				100% {
					background-color: rgba(103, 156, 255, 0);
					transform: scale(1.1);
				}
			}

			.embedded-key.empty {
				div {
					background-color: rgba(0, 0, 0, 0.19);
					transition: all 0.3s;
				}
			}
		}
	}
}
